{% extends 'base.html.twig' %}

{% block title %}Suivi de colis{% endblock %}

{% block body %}
    <h1>Suivi de commande</h1>
    <p>Voici le suivi de votre commande :</p>
    <div class="container">
        <div class="row">
            <div>
                <div id="map" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
            crossorigin="">
    </script>
    <script>
        var map = L.map('map').setView([48.8566, 2.3522], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

                // Utiliser les données JSON des relais passées depuis le contrôleur
        var relaisJson = {{ relaisJson|raw }};
        for (var i = 0; i < relaisJson.length; i++) {
            var relai = relaisJson[i];
            
            // Vérifier si les données de localisation sont présentes et non vides
            if (relai.latitude && relai.longitude) {
                var latitude = relai.latitude;
                var longitude = relai.longitude;
                
                // Créer le marqueur uniquement si les données sont définies
                L.marker([latitude, longitude]).addTo(map)
                    .bindPopup("<p>"+ relai.nom +"</p>")
                    .openPopup();
            } else {
                // Afficher un message d'avertissement ou ignorer ce relai s'il manque des données
                // console.warn("Les données de localisation pour le relai sont incomplètes :", relai);
            }
        }

        console.log(relaisJson);

    </script>

{% endblock %}
