*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #444142;
  color: #d19c26;
}

/* __________BARRE DE NAVIGATION__________ */

nav { /*navbar container*/
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5vw 1.5vw;
  background: black;
  z-index: 1;
}

.nav-icon { /*logo*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 0 3vw;
}

.nav-icon span {/*c'est dans la boite*/
  font-family: Roboto Flex, sans-serif;
  align-items: center;
  font-size: 1.5vw;
  /* margin-top: 0.1vw; */
  font-weight: 30;
  color: #E3CC81;
}

.nav-icon img {/*image de la boite*/
  width: 8vw;
}

.hamburger {/*l'hamburger n'est pas apparant par défaut*/
  display: none;
}

.navlinks-container::before {/*le container des items du menu en ligne*/
  margin-left: 3.5vw;
}

.navlinks-container a {/*les items du menu*/
  margin: 0 1.75vw;
  font-size: 1.8vw;
  font-weight: 500;
  color: #d19c26;
  display: inline-block;
  position: relative;
}

.navlinks-container a::after {/*le container des items du menu en colonne quand on appuie sur le hamburger*/
  content: "";
  display: block;
  position: absolute;
  bottom: -0.15vw;
  width: 100%;
  height: 0.1vw;
  transform: scaleX(0);
  transform-origin: left;
  background: #d19c26;
  transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {/*fermeture du container*/
  transform: scaleX(1);
}

.nav-authentication {/*container boutons login/inscription*/
  margin-left: auto;
}

.sign-btns button {/*bouton 1 connexion*/
  font-family: Roboto Flex, sans-serif;
  font-size: 1.8vw;
  color: #d19c26;
  min-width: 4.5vw;
  padding: 1vw 0.5vw;
  margin: 0 0.5vw;
  border-radius: 4vw;
  cursor: pointer;
  border: none;
  background: black;
}

.img_account {/*icone account*/
  width: 2.8vw;
}

.sign-btns button:nth-child(2) {/*bouton 2 inscription*/
  border: none;
  color: black;
  background: #d19c26;
}

.user-toggler {/*icone account n'apparait pas par défaut*/
  display: none;
}

/* __________PAGE RESPONSIVE__________ */

@media (max-width: 900px) { /*format de page inférieur à 900px*/

  nav {
    padding: 2.5vw 4vw;
    z-index: 1;
    display: flex;
    position: fixed;
  }

  .nav-icon { /*les ordres changent, burger logo account*/
    order: 2;
    margin: 0 auto;
  }

  .nav-authentication {
    order: 3;
    margin-left: 0;
  }

  .main-navlinks {
    order: 1;
    width: auto;
  }

  /* hamburger */
  .hamburger {
    width: 2.8vw;
    height: 2.8vw;
    cursor: pointer;
    border: none;
    display: flex;
    background: black;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #d19c26;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1), /*temps de transfo des barres du haut et du bas*/
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(0.9vw);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-0.9vw);
  }

  .hamburger.open span:nth-child(1) { /*la barre du haut fait une rotation de 135°*/
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) { /*la barre du milieu disparait*/
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) { /*la barre du bas fait une rotation de -135°*/
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: black;
    top: 100%;
    left: 0;
    transform: translate(-100%); /*le container est fermé*/
    height: 100vh;
    padding: 2.5vw 6vw 2.5vw 4vw;
    border-right: 0.2vw solid #c5c5c6;
  }

  .open {/*ouverture du container qd on clique sur le hamburger*/
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 2.2vw;
    margin: 1.5vw 0vw;
  }

  .nav-authentication {
    margin-left: 0;
  }

  .sign-btns { /*les boutons de log disparaissent*/
    display: none;
  }

  .user-toggler { /*l'icone account remplace les boutons*/
    display: block;
    cursor: pointer;
    border: none;
  }

  .user-toggler img {
    width: 3vw;
  }
}

/* __________BODY__________ */

.image-utilitaire {/*image arrière plan*/
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.main-content {
  background: #444142;
}

.accueil-texte-container {
  z-index: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, -100%);
  display: flex;
}

.accueil-texte {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  text-align: center;
  color: white;
  font-size: 2.5vw;
  width: calc(100% - 1.5vw);
}

.button-container { /*container des boutons envoyer et suivre*/
  z-index: 0;
  position: absolute;
  top: 30%; /* À 30% du haut de l'élément parent pour éviter navbar*/
  left: 50%;
  transform: translate(-50%, -25%);
  display: flex;
  justify-content: space-between; /* Espacement égal entre les boutons */
  width: calc(100% - 25%); /* Largeur de 100% avec une marge de 25% à gauche et à droite */
}

.send-button,
.track-button { /*boutons envoyer et suivre*/
  z-index: 0;
  border: 0.2vw solid black;
  color: black;
  background: linear-gradient(#d19c26, #E3CC81);
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 2vw;
  padding: 0.8vw 1.2vw;
  border-radius: 4vw;
  cursor: pointer;
}

.propos-container { /*container à propos de nous*/
  margin: 0 2vw;
  z-index: 0;
  display: grid;
}

.apropos {
  display: grid;
  align-items: center;
  position: relative;
}

.apropos table td {
  vertical-align: bottom; /* Aligne le contenu en bas de la cellule */
}

.image-kabba {
  height: auto;
  width: 25vw;
}

.text-apropos {
  margin-left: 2vw; /* Ajoute un espace entre l'image et le texte */
}

.titres-menu { /*style des titres des items*/
  color: black;
  font-size: 4vw;
  padding: 0 2vw;
  font-weight: bold;
  text-shadow: 0.2vw 0.2vw 0.4vw #d19c26;
}

.container-contact { /*container contact*/
  width: 100%;
  display: grid;
  background: #444142;
}

.container-contact .table { /*tableau contact*/
  margin: auto;
  grid-column-gap: 12.5vw;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  border-collapse: separate;
  border: 0.2vw solid black;
  background: linear-gradient(#d19c26, #E3CC81);
}

.container-contact .td-contact { /*cellules du tableau contact*/
  width: 25%;
  padding: 1vw;
  border: 0.2vw solid black;
  background: linear-gradient(#d19c26, #E3CC81);
}
 
/* __________FOOTER__________ */

.footer-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1vw 4.5vw;
  background: black;
  bottom: 0;
  z-index: 0;
  position:relative;
} 

/* __________PAGE LOGIN__________ */

.container-login {/*le container coupé en 2 formulaire/image*/
  width: 100%;
  display: grid;
  grid-column: 50%;
  position: relative;
  z-index: 0;
}

.titre-login {/*Message de bienvenue*/
  font-size: 3.5vw; 
}

.connect {/*connectez vous*/
  font-size: 2.5vw; 
}

.connect2 {/*pas encore inscrit? inscrivez vous*/
  font-size: 2vw; 
}

.formulaire-login {/*coté gauche : partie formulaire (élément parent)*/
  padding: 2.5vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  position : absolute;
  justify-content: center;
}

.legende-login {/*legendes formulaires*/
  font-size: 1.5vw; 
}
.champs-a-remplir { /*champs*/
  width: 100%;
  font-size: 1.5vw; 
  padding: 0.5vw 1.5vw; 
  background: white;
  border-radius: 3vw;
  border: 0.2vw solid #d19c26; 
}

.btn-connexion {/*bouton connexion*/
  width: 50%;
  border: 0.2vw solid black;
  color: black;
  background: linear-gradient(#d19c26, #E3CC81);
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 2.5vw; 
  padding: 0.5vw 1.5vw;
  border-radius: 3vw;
  margin-top: 3vw; 
  cursor: pointer; 
}

.image-cubes {/*image cubes à droite*/
  position: relative;
  height: 100%; 
  margin-left: 50vw;
}

/* PAGE REGISTER */

.container-register { /*le container coupé en 2 formulaire/image*/
  width: 100%;
  display: grid;
  grid-column: 50%;
  position: relative;
  z-index: 0;
}

.titre-register { /*titre creez votre compte*/
  font-size: 3.5vw; 
}

.formulaire-register {/*coté gauche : formulaire (parent)*/
  padding: 2.5vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  position : absolute;
  justify-content: center;
}

.legende-register {/*légendes formulaire*/
  font-size: 1.5vw; 
}
.champs-register { /*champs*/
  width: 100%;
  font-size: 1.5vw; 
  padding: 0.5vw 1.5vw; 
  background: white;
  border-radius: 3vw;
  border: 0.2vw solid #d19c26; 
}

.btn-creer {/*bouton créer*/
  width: 50%;
  border: 0.2vw solid black;
  color: black;
  background: linear-gradient(#d19c26, #E3CC81);
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 2.5vw; 
  padding: 0.5vw 1.5vw;
  border-radius: 3vw;
  margin-top: 3vw;
  cursor: pointer; 
}

