{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez KMTC{% endblock %}

{% block content %}
<div class="container-page-home">
    <div id="accueil">
            <img src="img/utilitaire.png" class="image-utilitaire"/>
            <span class="button-container">
  <button class="send-button" onclick="window.location.href='createCommande'">Envoyez un colis</button>
  <button class="track-button" onclick="window.location.href='/user/suivi/{id}'">Suivez votre expédition</button>
</span>
<div class="accueil-texte-container">
<span class="accueil-texte">
<p>📦 Confiez vos colis à des professionnels de la livraison !</p>
<p>Vous cherchez un service de livraison fiable, rapide et sécurisé pour expédier vos colis ? Ne cherchez plus !</p>

         </span>   </div> </div> 
        <div id="apropos">

        <div class="propos-container">
        </br>
        <p class="titres-menu">A propos de nous</p>
        <div class="apropos">
        <table><tr>
           <td> <img src="img/kabba2.png" class="image-kabba"/></td>
           <td> <div class="text-apropos">
                <p>KMTC est le leader lannionais en matière d'expédition de colis destinée aux entreprises.<br>
                Forte de plus de 120 années d'expérience, notre équipe sérieuse et dynamique vous livre vos colis rapidement et en toute sécurité dans toute la France.<br>
                Chez KMTC, nous mettons à votre disposition notre expertise et notre engagement pour vous garantir une expérience de livraison sans soucis.</p></td></tr></table>
            <p>✅ Fiabilité : Avec des années d'expérience dans le domaine de la logistique et de la livraison, nous assurons la prise en charge et la livraison de vos colis en toute fiabilité. Vous pouvez compter sur nous pour que vos colis arrivent à bon port, à temps et en parfait état.</p>
    <p>⏱️ Rapidité : Nous comprenons l'importance de la rapidité dans la livraison de vos colis. C'est pourquoi nous mettons tout en œuvre pour que vos envois soient traités et livrés dans les délais les plus courts possibles. Votre satisfaction est notre priorité numéro un !</p>
    <p>🔒 Sécurité : La sécurité de vos colis est notre préoccupation principale. Nous prenons toutes les mesures nécessaires pour garantir que vos envois sont manipulés et transportés en toute sécurité, avec une attention particulière portée à la protection contre les dommages et les pertes.</p>
    <p>💬 Service clientèle exceptionnel : Notre équipe dévouée est toujours là pour répondre à vos questions, vous fournir des informations sur le suivi de vos colis et vous offrir une assistance personnalisée à chaque étape de la livraison. Nous sommes à votre disposition pour rendre votre expérience avec nous aussi agréable que possible.</p>
    <p>Confiez-nous vos colis dès aujourd'hui et découvrez la différence avec KMTC ! Contactez-nous dès maintenant pour obtenir un devis personnalisé et commencer à expédier en toute tranquillité.</p>
        </div></div></div>

        <div id="services">
        <p class="titres-menu">Services</p>
        </br>
        

        <div id="contact">
        <p class="titres-menu">Contact</p>
        </br>
        <div class="container-contact">
        <table class="table">
            <tr>
                <td class="td-contact">Par courrier</td>
                <td class="td-contact">Par téléphone</td>
                <td class="td-contact">Par email</td>
            </tr>
            <tr>
                <td class="td-contact">KMTC<br>8 rue des Cordiers<br>22300 LANNION</td>
                <td class="td-contact">+33 01.23.45.67.</td>
                <td class="td-contact">contact@kmtc.fr</td>
            </tr>
        </table>
    </div>
    </br>
</div></div></div>
{% endblock %}
