{% extends 'base.html.twig' %}

{% block title %}Je suis le roi du mundo{% endblock %}

{% block body %} 
    <h1>Je suis le roi du mundo</h1>
    <p>Je suis le roi du mundo</p>
    <p>Je suis le roi du mundo</p>
    <div class="container">
        <div class="row">
            <div>
                <div id="map" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
            crossorigin=""></script>
            <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
            <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <script>
        var villes = {
            "Paris": {"lat": 48.8566, "long": 2.3522},
            "Marseille": {"lat": 43.2963, "long": 5.3748},
            "Lyon": {"lat": 45.7578, "long": 4.8320},
            "Toulouse": {"lat": 43.6045, "long": 1.4440},
            "Nice": {"lat": 43.7034, "long": 7.2663}
        };
        var map = L.map('map').setView([48.8566, 2.3522], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        for (ville in villes) {
            var marqueur = L.marker([villes[ville].lat, villes[ville].long]).addTo(map)
                .bindPopup("<p>"+ ville +"</p>")
                .openPopup();
        }
    </script>
{% endblock %}
