{% extends 'base.html.twig' %}

{% block title %}Je suis le roi du mundo{% endblock %}

{% block body %} 
    <h1>Je suis le roi du mundo</h1>
    <p>Je suis le roi du mundo</p>
    <p>Je suis le roi du mundo</p>
{% endblock %}
