{% extends 'base.html.twig' %}

{% block title %}Je suis le roi du mundo{% endblock %}
{% block content %}

<p class="titres-menu">USER</p>
</br></br></br></br></br></br></br></br></br></br>
<p>WHAT DO YOU WANT ?</p>

         </span>   </div> 
         
         {% endblock %}

